html,
body {
  font-family: "Merrifweather";
}

header {
  position: relative;
  z-index: 999999;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App.night {
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(67, 32, 87, 1) 100%
  );
}

.App.rain {
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(86, 78, 91, 1) 100%
  );
}

.App.overcast {
  background: linear-gradient(
    180deg,
    rgba(172, 172, 172, 1) 0%,
    rgba(227, 239, 246, 1) 100%
  );
}

.App.sunny,
.App.partly-cloud,
.App.mostly-cloudy {
  background: linear-gradient(
    180deg,
    rgba(22, 185, 245, 1) 0%,
    rgba(227, 242, 246, 1) 100%
  );
}

.App.sunny:before {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 70vh;
  opacity: 0.78;
  background: radial-gradient(
    circle,
    rgba(252, 255, 0, 0.5) 0%,
    rgba(252, 255, 0, 0) 100%
  );
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
}

.rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.rain.back-row {
  display: none;
  z-index: 1;
  bottom: 60px;
  opacity: 0.5;
}

body.back-row-toggle .rain.back-row {
  display: block;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(90vh);
  }
}

.stem {
  width: 1px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5)
  );
  animation: stem 0.5s linear infinite;
}

.night .stem {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25)
  );
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.splat {
  width: 15px;
  height: 10px;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
  display: none;
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.App.mostly-cloudy:after {
  content: "";
  position: absolute;
  top: -49%;
  right: -49%;
  width: 50%;
  height: 70vh;
  background: yellow;
  border-radius: 10000px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 500px -50px;
  opacity: 0.4;
  box-shadow: 10px 0px 500px 300px rgba(247, 255, 0, 1);
}

.weather {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Merriweather-Bold;
  text-shadow: 0 2px 25px rgba(0, 0, 0, 0.29);
  z-index: 9999;
}
.weather h1 {
  font-size: 10rem;
  margin-bottom: 0px;
  line-height: 1;
}

.weather h1 sup {
  top: -0.2em;
}

.weather p {
  font-size: 2rem;
}

/**** Clouds ****/

.clouds {
  opacity: 0;
  position: absolute;
  z-index: 9999;
}

.cloud {
  width: 600px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: -100px;
  z-index: 9999;
}

.overcast .cloud,
.mostly-cloudy .cloud {
  width: 100%;
}

.overcast .clouds,
.mostly-cloudy .clouds {
  opacity: 0.2;
  top: -250px;
  left: -20px;
  position: absolute;
  width: 100%;
}

.mostly-cloudy .clouds {
  opacity: 0.8;
}

#cloud-base {
  top: 90px;
  height: 100px;
  filter: url(#filter-base);
  box-shadow: 200px 170px 19px 40px rgba(255, 255, 255, 0.9);
}
#cloud-back {
  top: 90px;
  height: 30px;
  width: 86.2%;
  filter: url(#filter-back);
  box-shadow: 200px 200px 10px 40px rgba(215, 215, 215, 0.3);
}

#cloud-mid {
  top: 80px;
  width: 100%;
  height: 35px;
  filter: url(#filter-mid);
  box-shadow: 210px 250px 28px 30px rgba(66, 105, 146, 0.2);
}

#cloud-front {
  top: 70px;
  width: 77.5%;
  height: 40px;
  left: -20px;
  filter: url(#filter-front);
  box-shadow: 210px 272px 30px 0px rgba(0, 0, 0, 0.4);
}
